

@media (max-width: 949px){
    
    .info {
        margin-left: 0;
    }
}

@media (max-width: 880px){
    .info {
        width: 440px;
    }

    #main-image{
        width: 300px;
    }
}

@media (max-width: 780px){
    main {
        flex-direction: column;
    }

    body {
        overflow-x: hidden;
    }

    main {
        margin-bottom: 60px;
    }

    @media (max-width: 691px) {
        main {
            /* background-color: red; */
            margin-top: -250px;
        }
    }

    @media (max-width: 466px) {
        aside {
            text-align: center;
        }

        #main-image {
            width: 250px;
            height: 300px;
            object-fit: contain;
        }

        .info {
            width: 370px;
            height: 300px;
            padding: 10px;
        }

        p {
            font-size: 20px;
            text-align: justify;
        }

        .container-introduction-paragraph {
            width: 320px;
            justify-content: center;
            margin-left: 10px;
        }


    }
    
}

 /* -------------- 691px hamburguer menu--------------  */


